../argo-backend/
../argo-frontend/
../argo-sitio/
../argo-mobile-cajero/
../argo-aula-virtual/
../excel/
../data/
../deploy/
../.cursor/
/assets/
*.zip
*.md
docker-compose.yml

**/node_modules
**/.expo
**/.expo-check-bundle
**/android
**/ios
